body{ 
    font-family: 'Fira Sans', sans-serif;
}
#title {
    background-color: #d9b6e4;
}

.container-fluid{
   padding: 3% 15%
}

h1 {
   font-family: 'Fira Sans', sans-serif;
   font-weight: bold;
   font-size: 3rem;
   line-height:1.5;
   color:#ffff;
}
 
h2{
   color:#fff;
   font-family: 'Fira Sans';
   font-size: 1.5;
   font-weight: bold;
 
}
 
h3{
   font-family: 'Fira Sans';
   font-weight: bold;
}
 
p{
    color:#8fdbf2; 
 
}
 
 
.navbar{
   padding: 0 0 4.5rem;
}
.navbar-brand{
   font-family: 'Source Sans Pro';
   font-size: 2,5rem;
   font-weight: bold;
}
 
.navbar-item{
   padding: 0 18px;
}
 
.nav-link{
   font-family: 'Fira Sans', sans-serif;
   font-size: 1.2rem;
}
 
.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
}

#features {
   padding: 7% 15%;
   background-color:#ffffff;
   z-index: 1;
   position: relative;
}
 
.feature-box{
   text-align: center;
   padding: 5%;
}
 
.icon{
   color:#ef8712;
   margin-bottom: 1rem;
}
 
.iron:hover{
   color:#8fdbf2;

}
 
/* Testimonials Section */
 
#testimonials {
   text-align: center;
   background-color:#d9b6e4;
}

.carousel-item {
padding: 7% 15%;
}

.testimonial-image {
 width:10%;
 border-radius: 50%;
 margin: 10px;
 }

#press{
    background-color:#d9b6e4;
    text-align: center;
}

.press-logo{
    width: 10%;
    margin: 10px 30px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-header {
    color: #000;
}

.pricing-column{
    padding: 3% 2%;
}

#cta {
    background-color: #d9b6e4;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
font-family: 'Fira Sans';
font-weight: bold;
font-size: 3.5rem;
line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px){

    #title {
        text-align: center;
    }
    .title-image{
    position:static;
    transform: rotate(0)
    }
}